# Dependencies
node_modules/*
.yarn/*

# Environment
.env*

# Misc
.DS_Store

# Logs
*.log*

# Build
.next/*

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Public
public/*
!public/cover.webp
!public/icon.svg
