@import 'tailwindcss';

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

@theme {
  --font-sans: var(--sans-font);
  --font-mono: var(--mono-font);

  --animate-cursor: cursor 800ms infinite;

  @keyframes cursor {
    from,
    to {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
}
