@import 'tailwindcss';

@utility no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@utility text-retro {
  text-shadow: 0px 0px 36px currentColor;

  @apply
    font-mono
    text-orange-400
    blur-[0.4px];
}

@theme {
  --font-sans: var(--sans-font);
  --font-mono: var(--mono-font);

  --animate-cursor: cursor 800ms infinite;

  @keyframes cursor {
    from,
    to {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
}
