@import 'tailwindcss';

@utility no-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@utility text-retro {
  text-shadow:
    40px 0px 40px var(--color-primary-glow),
    -40px 0px 40px var(--color-primary-glow),
    0px 30px 40px var(--color-primary-glow),
    0px -30px 40px var(--color-primary-glow);

  @apply
    font-mono
    text-primary
    blur-[0.4px];
}

@theme {
  --font-sans: var(--sans-font);
  --font-mono: var(--mono-font);

  --color-primary: #fff3e3;
  --color-primary-glow: #fff3e34d;
  --color-background: #0d0803;
  --color-error: #fb2c36;

  --animate-shift: shift 0.2s linear infinite both;
  --animate-scanner:
    scan 14s linear infinite,
    flicker 0.12s linear infinite;
}

@keyframes shift {
  0% {
    transform: translateX(10%) translateY(10%);
  }
  100% {
    transform: translateX(-10%) translateY(-10%);
  }
}

@keyframes scan {
  0% {
    top: -120px;
  }
  80% {
    top: 100%;
  }
  100% {
    top: 100%;
  }
}

@keyframes flicker {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
}
